*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    background-color: #004d40;
    color: #fff;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

header nav{
    width: 40%;
}

header h1 {
    text-align: left;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 45px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: start;
    
}
.logo img{
    width: 35%;
    cursor: pointer;
}

.barra-abajo {
    background-color: #00695c;
    color: #fff;
    padding: 5px ;
    text-align: center;
}

.barra-abajo h2 {
    margin: 0;
}

.barra-abajo p {
    font-size: 18px;
}


#productos {
    padding: 20px;
    background-color: #e0f2f1;
}

#productos h2 {
    text-align: center;
    color: #004d40;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    max-width: 100%;
    border-radius: 5px;
}

.producto h3 {
    color: #00796b;
}

.producto p {
    font-size: 14px;
    color: #666;
}

.precio {
    font-size: 18px;
    font-weight: bold;
    color: #004d40;
}
.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    max-width: 600px;
    width: 100%;
}
.texto{
    flex: 2;
    padding-right: 20px;
    
}
.imagen img{
    width: 400px;
    height: auto;
    border-radius: 8px;
}
button {
    background-color: #004d40;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00796b;
}


footer {
    background-color: #004d40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 5px 0;
    text-align: left;
}
